@import './variables';
@import './header';

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  @include flexCenter();

  background: #333;
  color: white;
  height: 30vh;
}

p {
  color: $blue;
}

@media (min-width: 576px) { 

}

@media (min-width: 768px) { 

}

@media (min-width: 992px) { 

}

@media (min-width: 1200px) { 

 }